polkit.addRule(function(action, subject) {
    if (action.id == "org.cartesian.manage" &&
        subject.isInGroup("wheel")) {
        return polkit.Result.YES;
    }
});
